/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    position: fixed;
    left: 100px;
    overflow: visible;
    top:42px;
    width: 100%;
    
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 17px 78px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  /* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
  }

.table1 {
  position: fixed;
  left: 30%;
  top: 40%;
  padding: 50px;
}

  .fm {
    position: fixed;
    top: 200px;
    left : 50%;
  }