{% load static %}

<html>
    <head>
        <title>complaint</title>
        <link rel="stylesheet" href="{% static "unmask/complaint.css" %}">
        <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    </head>
    <body>
            <img src="{% static "unmask/logo.png" %}" style="width:100px;height:100px; position: absolute;">
        <div class="topnav">
            <a href="home">Home</a>
            <a class="active" href="complaint">Complaint</a>
            <a href="notification">Notification</a>
            <a href="helpdesk">HelpDesk</a>
            <a href="profile">Profile</a>
          </div> 
          <table class="table1">
         <div class="fm">
             <form method="POST">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Save</button>
          </form> </div></table>
    </body>
</html>
    