
<html>
    <head>
        <link rel="stylesheet" href="complaint.css">
        <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    </head>
    <body>
            <img src="logo.png" style="width:100px;height:100px; position: absolute;">
        <div class="topnav">
            <a href="home.html">Home</a>
            <a class="active" href="complaint.html">Complaint</a>
            <a href="notification.html">Notification</a>
            <a href="helpdesk.html">HelpDesk</a>
            <a href="profile.html">Profile</a>
          </div> 
          <table class="table1">
         <div class="fm">
             <form action="success.html">
            <tr>
            <td>Name of the officer :</td>
            <td><input type="text" name="name"></td><br></tr>
            <br>
            <tr>
            <td>Designation :</td>         :
            <td><input type="text" name="lastname"></td></tr>
            <tr>
                <td>Office adress:</td>
            <td><input type="adress" name="adress"></td></tr>
            <tr>
                <td>Crime:</td>
            <td><input type="text" name="Crime"></td></tr>
            <tr>
                    <td>Description:</td>
                <td><input type="text" name="Description" style="height: 100px;"></td></tr>
                <tr>
                    <td>Proof:</td>
                <td><input type="file" name="proof"></td></tr>
            <input type="submit" value="Submit">
          </form> </div></table>
    </body>
</html>
    