<!DOCTYPE html>
<html>
<head>
	<title>hack</title>
	<link rel="stylesheet" type="text/css" href="hack.css">
</head>
<body>
  <div class="bg-image"></div>
<div class="cont">
<div class="bg-text">
  <h1>UNMASK</h1>
  <p>Better Days Are Coming...</p>
  <button class="btn login">Login</button>
    <button class="btn signup">Sign-Up</button>
</div>
<div class="about" >
	<h1 >About</h1>

	<p id="para">about description</p>
</div>
<div class="box">
<div class="flip-card1">
  <div class="flip-card1-inner">
    <div class="flip-card1-front">
      
      <img src="agriculture.png" alt="Avatar" style="width:300px;height:300px;">
      
    </div>
    <div class="flip-card1-back">
      <a href="http://agricoop.nic.in/">
      <h1>Department Of Agriculture & Farmer Welfare</h1> 
      </a>
    </div>
</div>
</div>
  <div class="flip-card2">
  <div class="flip-card2-inner">
    <div class="flip-card2-front">
      <img src="industry.jpg" alt="Avatar" style="width:300px;height:300px;">
    </div>
    <div class="flip-card2-back">
      <a href="https://commerce.gov.in/">
      <h1>Ministry of Commerce & Industry</h1>
      </a> 
    </div>
  </div>
</div>
<div class="flip-card3">
  <div class="flip-card3-inner">
    <div class="flip-card3-front">
      <img src="police.jpg" alt="Avatar" style="width:300px;height:300px;">
    </div>
    <div class="flip-card3-back">
      <a href="https://mha.gov.in/">
      <h1>Ministry of Home Affairs</h1> 
      </a>
    </div>
  </div>
</div>
<div class="flip-card4">
  <div class="flip-card4-inner">
    <div class="flip-card4-front">
      
      <img src="law.png" alt="Avatar" style="width:300px;height:300px;">
    

    </div>
    <div class="flip-card4-back">
      <a href="doj.gov.in/">

      <h1>Ministry of Law & Justice</h1> 
      </a>

    </div>
  </div>
</div>
<div class="flip-card5">
  <div class="flip-card5-inner">
    <div class="flip-card5-front">
      <img src="human.jpeg" alt="Avatar" style="width:300px;height:300px;">
    </div>
    <div class="flip-card5-back">
      <a href="https://mhrd.gov.in/">
      <h1>Ministry of Human Resource Development</h1>
      </a>
    </div>
  </div>
</div>
</div>
</div>
</body>
</html>